.App{
  display: flex;
  /* justify-content: space-between; */
  max-width: 900px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}

button{
  border: none;
  background: none;
  cursor: pointer;

}


h2{
  font-weight: 700;
  font-size: 35px;
  color: #06284E;
  margin-bottom: 10px;
}

p{
  font-weight: 500;
}


@media(max-width: 645px){
    .App{
      flex-direction: column;
      background-color: transparent;
      height: 100vh;
      justify-content: space-evenly;
    }
}